# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ven/
ENV/

# Local development
.env
.env.local
db.sqlite3
media/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
.dockerignore
Dockerfile

# Render specific
render.yaml

# Node
node_modules/
