Django>=4.2,<5.3
gunicorn>=21.0.0
whitenoise>=6.0.0
dj-database-url>=2.0.0
django-import-export>=3.0.0
Pillow>=10.0.0
python-dateutil>=2.8.0
xhtml2pdf>=0.2.0
pytz>=2023.0
psycopg2-binary>=2.9.0
requests>=2.30.0
python-dotenv>=1.0.0
django-cors-headers>=4.0.0
django-storages>=1.13.2
boto3>=1.26.0
